:root {
    --primary-color: #1e90ff;
    --color-accent1: #264653;
    --color-accent2: #ffd700;
    --color-text-light: #ffffff;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--color-accent1);
}

header {
    background-color: var(--primary-color);
    color: var(--color-accent2);
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    gap: 10px;
    padding: 20px 20px;
}

header,
main,
footer {
    width: 840px;
    margin: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
}

/* HERO Section */
.hero {
    position: relative;
    /* для абсолютного позиционирования дочерних элементов */
    max-width: 100%;
}

header img {
    width: 80px;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    text-align: center;
    opacity: 0.7;
    background-color: rgba(255, 215, 0, 0.5);
    color: var(--color-text-light);
}

.hero article {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 300px;
    /* можно подстроить под контент */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    margin-left: 8px;
}

/* Social Media */
.socialmedia a {
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: auto;
    margin: 0 5px;
}

.socialmedia {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.socialmedia img {
    width: 30px;
    height: auto;
}

.socialmedia img:hover {
    transform: scale(1.2);
    transition: 0, 3s;
}

.icon {
    text-decoration: none;
    width: 40px;
    margin: 5%;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-top: 1px solid rgb(0 0 0 / 20%);
    text-align: center;
    padding: 8px 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

nav ul li a {
    margin: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--color-accent2);
    border-radius: 8px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: var(--color-text-light);
    color: var(--color-accent1);
    transition: 0.3s;
}

.history-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-content: center;
}

.history-content img {
    width: 100%;
    height: auto;
}

.history {
    text-align: center;
}

.history p {
    line-height: 2;
}

.adventures-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.adventures-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.adventures-gallery figcaption {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5px;
}

.adventures-gallery img {
    transition: transform 0.3s;
}

.adventures-gallery img:hover {
    transform: scale(1.1);
}