* {
    margin: 2px;
    padding: 5px;
    box-sizing: border-box;
}

:root {
    --primary-color: #0a3d62;
    --secondary-color: #f1f2f6;
    --text-color: #333;
    --border: 1px solid rgb(0 0 0 / 20%);
    --heading-font: 'Montserrat', Helvetica, sans-serif;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    <<<<<<< HEAD justify-content: space-evenly;
    align-items: center;
    =======justify-content: center;
    > > > > > > > e80467a6501c553714ec46629b99263c321c4913 gap: 20px;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    transition: 0.3s;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

aside {
    max-width: 300px;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    <<<<<<< HEAD grid-column: 1/2;
    grid-row: 1/2;
    ======= > > > > > > > e80467a6501c553714ec46629b99263c321c4913
}

h1 {
    color: var(--primary-color);
    <<<<<<< HEAD border-bottom: 5px solid var(--secondary-color);
    ======= > > > > > > > e80467a6501c553714ec46629b99263c321c4913
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    margin: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

p {
    padding: 0;
}

main {
    <<<<<<< HEAD grid-column: 2/3;
    max-width: 840px;
    margin: 1rem;
    =======max-width: 840px;
    margin: 0 auto;
    > > > > > > > e80467a6501c553714ec46629b99263c321c4913 padding: 1rem;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    padding: 1px;
    border: var(--border);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 15px;
    padding: 10px;
    border-top: var(--border);
    text-align: center;
    color: #555;
}

/* Class Selector */
.box {
    width: auto;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside h2 {
    margin-bottom: 10px;
    <<<<<<< HEAD
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 a;
}

.grid {
    display: grid;
    align-items: center;
}

main=======
}

> > > > > > > e80467a6501c553714ec46629b99263c321c4913