.callout {
    max-width: 400px;
    margin: 10px;
    border: 2px solid black;
    padding: 15px;
    background-color: #247;
    color: white;
}

.callout img {
    float: right;
    margin: 0 0 10p 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: lightgray;
    color: white;
    width: 30%;
    height: auto;
}

blockquote {
    margin: 0px;
}

cite {
    display: block;
    border-top: 1px dotted white;
    text-align: right;
    font-size: smaller;
}